@page "/sessions"
@inject HttpClient Http

@if(sessions == null) 
{
    <p>Loading agenda ... </p>
}
else
{
    <div class="row">
    @foreach(var session in sessions)
    {
        @if(session.Abstract!=null)
        {
            <div class="col-md-12">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">@session.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@session.Speaker</h6>
                        <p class="card-text text-justify">@session.Abstract</p>    
                    </div>
                </div>
            </div>
            <br>
        }
        
        <!-- <div class="col-md-4">            
                <div class="card border-light">
                    <h5 class="card-header">@session.Time</h5>
                    <div class="card-body">
                        @if(session.SpeakerImage!=null)
                        {
                            <img src="@session.SpeakerImage" class="avatar"/>
                        }
                        <h5 class="card-title">@session.Title</h5>
                        <p class="card-text">@session.Speaker</p>
                    </div>
                </div>
            
        </div> -->
        <!-- <hr> -->
        <!-- <li class="media my-4">
            <img class="mr-3" src="@session.SpeakerImage" class="avatar"/>
            <div class="media-body">
            <h4 class="mt-0 mb-1 ml-3">@session.Title</h4>
            <h5 class="mt-0 mb-1 ml-3">@session.Speaker</h5>
            <h6 class="mt-0 mb-1 ml-3">@session.Time</h6>
            </div>
        </li> -->
        
    }
    </div>
}

@functions {

    Session[] sessions;

    protected override async Task OnInitAsync()
    {
        sessions = await Http.GetJsonAsync<Session[]>("sample-data/sessions.json");
    }
    
    class Session
    {
        public string Title {get;set;}
        public string Speaker {get;set;}
        public string Time {get;set;}
        public string SpeakerImage {get;set;}
        public string Abstract {get;set;}
    }
}